<div class="bg-light p-5 text-center">
    <h4>Created by Minkyeong Sung</h4>
    <h5>📞☎📱 010 - 1234 - 5678</h5>
    <button class="btn btn-warning">고객센터</button>
    <button class="btn" style="background-color: #9ADAFF">오시는 길</button>
</div>