{{> /layout/header}}

<div class="container p-5">

    <div class="card">
        <div class="card-header"><b>글수정 화면입니다.</b></div>
        <!--요청을 하면 localhost:8080/lboard/1/update 이 POST로 요첨됨
    username=사용자입력값&password=사용자값-->
        <form action="/board/{{board.id}}/update" method="post" enctype="application/x-www-form-urlencoded">
            <div class="card-body">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Enter title" name="title" required maxlength="100" value="{{board.title}}" maxlength="20">
                        
                </div>
                <div class="mb-3">
                    <textarea class="form-control" rows="5" name="content">
{{board.content}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary mb-3">수정완료</button>
        </form>
    </div>
</div>
</div>

{{> /layout/footer}}