<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    .err{
    color: red;
    background-color: blueviolet;
    font-size : 500px;
    }
</head>

<body>
    <h3>동일한 유저네임으로 회원가입 할 수 없습니다.</h3>
    <a href="/joinForm">회원가입 페이지 돌아가기</a>
</body>

</html>