<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>로그인 정보를 잘소 입력 하셨습니다..</h3>
    <a href="/loginForm">회원가입 페이지 돌아가기</a>
</body>

</html>